# MongoDB Configuration
# Local MongoDB (default):
# MONGODB_URI=mongodb://localhost:27017/email-spam-db

# MongoDB Atlas (Cloud):
# MONGODB_URI=mongodb+srv://username:password@cluster0.xxxxx.mongodb.net/email-spam-db?retryWrites=true&w=majority

# Server Configuration
PORT=5000
NODE_ENV=development
